<manifest package="com.example.nhatkyduonghuyet">
    <application
        android:allowBackup="true"
        android:label="Nhật ký đường huyết"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
